html{
    scroll-behavior: smooth;
}

*::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Grid Container */
.page-grid-container{
    position: relative;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-auto-rows: 90vh 10vh 83vh 7vh;
}

/* Hero Element */
.hero{
    background-image: url(../Images/photo3\ 1.png);
    background-color: #cccccc;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-column: span 2;
    position: relative;
}

.hero img{
    position: absolute;
    height: 191px;
    width: 400px;
    top: 45%;
    right: 49px;
}

@media (max-width: 782px){
    .hero a{
        display: none;
    }
    .hero{
        background-position: 35% center;
    }
}



/* Main */

/* Content Section */

.content{
    display: flex;
    flex-flow: column;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content .title{
    font-size: 1.5rem;
}

.section > h3 > a {
    text-decoration: none;
    color: black;
}

.section {
    width: 900px;
}

@media (max-width: 782px){
    .content{
        grid-column: span 2;
    }
    .section {
        width: 100%;
    }
}

/* Content Section */

/* Sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #cccccc;
}

/* Image */

.power-text{
    height: 300px;
    width: auto;
    margin-top: 5%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

.power-text img{
    height: 90%;
    width: 100%;
}

.power-text p{
    text-align: center;
    color: whitesmoke;
    background-color: #222020;
    padding: 15px 10px;
}

/* Email */

.email{
    align-self: flex-start;
    margin: 0 0 0 45px;
    width: 300px;
}

.email input{
    width: 200px;
    padding: 10px;
}
.email button{
    margin: 0;
    background-color: #222020;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}

.social-icons{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 80px;
}

.social-icons > a {
    height: 30px;
    width: auto;
    cursor: pointer;
}

a > img {
    height: 100%;
    width: auto;
}

@media (max-width: 782px){
    .sidebar{
        display: none;
    }
}
/* Sidebar */

/* Main */


/* Footer */

.footer{
    grid-column: span 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #222020;
    text-align: center;
}

.footer h1{
    color: whitesmoke;
}

@media (max-width: 782px){
    .footer h1{
        font-size: 1.3em;
    }
}

/* Footer */
